services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: no
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 11223344
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d:Z
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - bookseller-network

  spring-boot-book-store:
    image: spring-boot-book-store:latest
    container_name: spring-boot-book-store
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure
    networks:
      - bookseller-network

  angular-book-store:
    image: angular-book-store:latest
    container_name: angular-book-store
    ports:
      - "8081:8081"
    networks:
      - bookseller-network

volumes:
  pgdata:

networks:
  bookseller-network:
    driver: bridge
